body {
  background-color: white;
  min-width: 960px;
}

button {
  background-color: rgba(255, 255, 240, 0);
  min-height: 25px;
  border-width: 1px;
}

.full-border-top {
  border-top: 1px solid rgba(0, 0, 0, 0.295);
  float: left;
  margin-right: 20px;
  width: 2860px;
  position: relative;
  right: 500px;
}

.inblock {
  display: inline-block;
}

.right-border {
  border-right: 1px solid rgba(0, 0, 0, 0.466);
}

.border-radius50 {
  border-radius: 50%;
}

a {
  color: #1b1b1b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  float: left;
  margin: 0 5px;
}

ul {
  min-height: max-content;
}

nav {
  padding-top: 10px;
  min-height: 30px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.466);
}
nav img {
  width: 25px;
  height: 25px;
}
nav .right-nav {
  float: right;
}
nav div {
  float: left;
  margin-right: 20px;
  width: 940px;
  margin-left: 25%;
}

h2, form, p {
  width: max-content;
}

.container {
  float: left;
  margin-right: 20px;
  width: 1420px;
  float: none;
  display: block;
  margin: 0 auto;
  background-color: white;
  max-height: max-content;
}

.search-area {
  width: 99%;
  margin: auto;
  margin-top: 10px;
  text-align: center;
}
.search-area > * {
  display: inline-block;
}
.search-area form {
  font-size: 0;
}
.search-area .submitbtn {
  background-color: #3c3cff;
  border-width: 0px;
  color: white;
  min-height: 33px;
  min-width: 150px;
}
.search-area .search-box {
  min-width: 300px;
  min-height: 36px;
  border: 3px solid rgba(29, 29, 29, 0.767);
  border-right: none;
}
.search-area .category-btn {
  min-height: 36px;
  min-width: 100px;
  margin-right: 5px;
  background-color: white;
  border: 3px solid rgba(29, 29, 29, 0.767);
  border-left: 1px solid rgba(29, 29, 29, 0.767);
  color: black;
}
.search-area .advance-search {
  font-size: x-small;
  color: #8b8b8b;
}
.search-area p {
  vertical-align: middle;
  display: inline;
  font-size: xx-large;
}
.search-area .E {
  color: red;
}
.search-area .B {
  color: blue;
}
.search-area .A {
  color: #b6b62a;
}
.search-area .Y {
  color: greenyellow;
}

.categories {
  padding-top: 10px;
  margin: 0 auto;
  margin-top: 20px;
  min-height: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.466);
  font-size: small;
  color: grey;
  max-width: max-content;
}

.main-slide {
  float: left;
  margin-right: 20px;
  width: 940px;
  float: none;
  margin: 0 auto;
}
.main-slide .image-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-height: 300px;
}
.main-slide .image-text > * {
  margin: 5px 5px;
}
.main-slide .slide-image {
  background-image: url("https://static.wikia.nocookie.net/gundam/images/0/03/Rxuc-ova-ntd.jpg/revision/latest?cb=20160225044457");
  background-repeat: no-repeat;
  background-position: right top;
  min-height: 300px;
  min-width: 100%;
}
.main-slide h3 {
  font-weight: bold;
  font-size: x-large;
}

.listings {
  max-width: max-content;
  margin: 0 auto;
  margin-top: 50px;
}
.listings h2 {
  padding-right: 20px;
  margin-right: 10px;
}
.listings ul {
  max-width: max-content;
  max-height: max-content;
  margin-top: 20px;
  height: 166px;
}
.listings div {
  background-color: rgba(202, 202, 202, 0.185);
  width: 150px;
  height: 150px;
}
.listings div img {
  max-width: 100%;
  height: 100%;
}
.listings li {
  width: 150px;
  text-align: center;
}
.listings .listing-aside {
  width: 250px;
}
.listings .listing-aside .small-text {
  font-size: x-small;
}
.listings .listing-aside div {
  min-width: 100%;
  background-color: #004400;
  color: rgba(195, 250, 112, 0.664);
  font-weight: bold;
  text-align: left;
}
.listings .listing-aside button {
  border-color: rgba(201, 253, 122, 0.664);
  width: 50%;
  height: 25px;
  color: rgba(195, 255, 104, 0.664);
}
.listings .listing-aside p, .listings .listing-aside button {
  margin-left: 10px;
}
.listings .listing-aside p {
  padding-top: 10px;
}
.listings .listing-aside button {
  margin-top: 10px;
}

.banner {
  min-height: 250px;
  float: left;
  margin-right: 20px;
  width: 1180px;
  float: none;
  margin: 100px auto 0 auto;
}
.banner .make-cash {
  background-color: #356e8f;
  color: #8ab8d3;
  font-weight: bold;
  font-size: x-large;
  float: left;
  margin-right: 20px;
  width: 340px;
  min-height: inherit;
  margin: 0;
  padding-right: 20px;
}
.banner .make-cash button {
  background-color: rgba(0, 128, 0, 0);
  border-width: 1px;
  color: #8ab8d3;
  min-width: 50%;
  height: 33px;
  font-weight: bold;
  border-color: white;
}
.banner .make-cash p {
  font-size: medium;
}
.banner .make-cash > * {
  margin: 10px;
  margin-bottom: 30px;
}
.banner .selling-img {
  float: left;
  margin-right: 20px;
  width: 820px;
  margin: 0;
  float: right;
  min-height: inherit;
  background-image: url("https://www.planetconnection.org/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/m/g/mg-rx-77-2-guncannon-03.jpg");
}

footer {
  margin-top: 100px;
  padding-top: 50px;
  border-top: solid 1px rgba(0, 0, 0, 0.466);
}
footer div {
  max-width: max-content;
  margin: 0 auto;
}
footer p {
  font-weight: bold;
  font-size: large;
}
footer ul {
  margin: 20px 10px;
  float: left;
  margin-right: 20px;
  width: 220px;
}
footer li {
  margin: 0;
  float: none;
}
footer li ul {
  margin: 0;
  margin-top: 15px;
}
footer button {
  color: white;
}
footer .copyright {
  padding: 20px 0;
  font-size: x-small;
  margin: 0 auto;
}

/*# sourceMappingURL=ebay_clone.css.map */
