$ebay-color: #356e8f;
$link-color: #1b1b1b;
$border-color: rgba(0, 0, 0, 0.466);
$btn-image-width:25px;
$btn-image-height:25px;
$column-width: 60px;
$gutter-width: 20px;
$banner-height:250px;
body{
    background-color: white;
    min-width:960px;
}

@mixin grid-unit($span) {
    float:left;
    margin-right: $gutter-width;
    width: ($column-width * $span) + ($gutter-width * ($span - 1));
}

@mixin push($push){
    position:relative;
    left:$push;
}
@mixin pull($pull){
    position:relative;
    right:$pull;
}

button{
    background-color:rgba(255, 255, 240, 0);
    min-height:25px;
    border-width: 1px;
}

.inblock{
    display:inline-block;
}

.right-border{
    border-right:1px solid $border-color
}
.border-radius50{
    border-radius:50%;
}

a{
color:$link-color;
text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

li{
    float:left;
    margin:0 5px;
  
}

ul{
    min-height:max-content;
}

nav {
    padding-top: 10px;
    min-height: 30px;
    border-bottom: 1px solid $border-color;
    
    img{
        width:$btn-image-width;
        height:$btn-image-height;
    }
   .right-nav{   
       float:right;
   }

}

h2, form, p{
    width:max-content;
}

.container{
    @include grid-unit(12);
    float:none;
    display: block;
    margin:0 auto;  
    background-color: white;
    max-height:max-content;
}

.search-area{
   width:99%;
    margin:auto;
    margin-top:10px;
    text-align: center;
   
    > *{
        display:inline-block;   
    }   

    form{
        font-size: 0;
    }

    .submitbtn{
        background-color: rgb(60, 60, 255);
        border-width: 0px;
        color:white;
        min-height: 33px;
        min-width:150px;
    }

    .search-box{
        min-width:300px;
        min-height:36px;
        border:3px solid rgba(29, 29, 29, 0.767);
        border-right:none;
    }

    .category-btn{
        min-height:36px;
        min-width:100px;
        margin-right:5px;
        background-color: white;
        border: 3px solid rgba(29, 29, 29, 0.767);
        border-left: 1px solid rgba(29, 29, 29, 0.767);
        color:black;
    }

    .advance-search{
        font-size: x-small;
        color:rgb(139, 139, 139);
    }
    p{
        vertical-align:middle;
        display:inline;
        font-size: xx-large;
    }
    .E{
        color:red;
    }
    .B{
        color:blue;
    }
    .A{
        color:rgb(182, 182, 42)
    }
    .Y{
        color:greenyellow;
    }
}

.categories{
    padding-top:10px;
    margin-top:20px;
    min-height:30px;
    border-top:1px solid rgba(0, 0, 0, 0.295);
    font-size:small;
    color:grey;
    text-align: center;
}

.main-slide{

    .image-text{
        position: absolute;
        top:25%;
        > *{
            margin:5px 5px;
        }

    }

    .slide-image{
        background-image: url('https://static.wikia.nocookie.net/gundam/images/0/03/Rxuc-ova-ntd.jpg/revision/latest?cb=20160225044457');
        background-repeat: no-repeat;
        background-size: cover;

    min-height:300px;
    min-width:100%;
    }
    
    h3{
        font-weight: bold;
        font-size:x-large;
    }

}

.listings{
    max-width:max-content;
    margin:0 auto;
    margin-top:50px;
    h2{
        padding-right:20px;
        margin-right:10px;
    }
  
    ul{
        max-width:max-content;
        max-height:max-content;
        margin-top:20px;
        height:166px;
    }
    div{
        background-color: rgba(202, 202, 202, 0.185);
        width:150px;
        height:150px;
        img{
            max-width:100%;
            height:100%;
        }
    }

    li{
        width:150px;
        text-align: center;
    }
    .listing-aside{
        width:250px;
        .small-text{
            font-size: x-small;
        }
        div {
            min-width:100%;
            background-color: rgb(0, 68, 0);
            color:rgba(195, 250, 112, 0.664);
            font-weight: bold;
            text-align: left;
        }
      
        button{            
            border-color: rgba(201, 253, 122, 0.664);
            width:50%;
            height:25px;
            color:rgba(195, 255, 104, 0.664);
        }
        p, button{           
            margin-left:10px;
        }
        p{
            padding-top:10px;
        }
        button{
            margin-top:10px;
        }
    }
}

.banner{
    min-height: $banner-height;
   margin-top:200px;
    .make-cash{
        background-color: $ebay-color;
        color:lighten($ebay-color, 30%);
        font-weight: bold;
        font-size: x-large;
        @include grid-unit(4);
        min-height:inherit;
        margin:0;
        padding-right:20px;

        button{
            background-color: rgba(0, 128, 0, 0);
            border-width: 1px;
            color:lighten($ebay-color, 30%);
            min-width:50%;
            height:33px;
            font-weight: bold;
            border-color: white;
        }
        p{
            font-size:medium;
        }
        > *{
            margin:10px;
            margin-bottom: 30px;
        }
    }
    .selling-img{
        @include grid-unit(8);
        margin:0;
        float:right;
        min-height:inherit;
        background-image: url('https://www.planetconnection.org/pub/media/catalog/product/cache/c687aa7517cf01e65c009f6943c2b1e9/m/g/mg-rx-77-2-guncannon-03.jpg');
    }
}

footer{
    margin-top:100px;
    padding-top:50px;
    border-top:solid 1px $border-color;
    
    div{  
        max-width:max-content;
        margin:0 auto;
    }
    p{
        font-weight: bold;
        font-size: large;
    }
    ul{
        margin:20px 10px;
        @include grid-unit(2);
    }
    li{
        margin:0;
        float:none;
        ul{
          
            margin:0;
            margin-top:15px;
        }
    }
    button{
        color:white;
    }


    .copyright{
        padding:20px 0;
        font-size: x-small;
        margin:0 auto;
    }
}




